## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


## Flask Related
instance/
.webassets-cache

## NPM
node_modules/

## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## Other
secrets.sh
*secret.*
*.pyc
.DS_Store