/* CSS - later overwrites earlier */

/* Media Queries */
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}
form {
  width: 50%;
  min-width: 300px;
  padding: 1.3em;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-size:contain;
  font-size: 100%;
  justify-content: center;
  font-size: small;
  background-color: 
  #f8f9fa;
}

h3 {
  font-size: 2em;
  padding: 1em;
}

h4 {
  font-size: 1.25em;
}

.whiteText {
  color: white;
}

.submit {
  background-color: #435861;
  color: white;
}

.add {
  background-color:  #4D774D;
  color: white;
  border: none;
}

#logo {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #4D774D;
  font-size: 2em;
}

.headerImg {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#landing {
  background-image: url('/static/img/forest-wide.jpg');
}

#login {
  background-image: url('/static/img/sea.jpeg');
  height: 120%;
  background-position: center;
  margin-bottom: 0;
}

#register {
  background-image: url('/static/img/fog.jpeg');
  height: 120%;
  background-position: center;
  margin-bottom: 0;
}

#hikes {
  background-image: url('/static/img/pinicles.jpeg');
}

#goals {
  background-image: url('/static/img/mountains.jpeg');
  height: 120%;
  background-position: center;
  margin-bottom: 0;
}

#profile {
  height:100wv;
  background-repeat: no-repeat;
  position: center;
  left: 50%;
  right: 50%;
  vertical-align: middle;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background-image: url('/static/img/forest-wide.jpg');
  
}

.containerWhite {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingContent {
  opacity: 1;
}

.mtn {
  height: 1.5em;
  vertical-align: middle;
}

.spotLight {
  color: #435861;
  font-size: 1.5em;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  border-width: 4px;
}

.trail-content {
  padding: 2em;
}

.black {
  border-color: black;
}

.blue {
  border-color: #145DA0;
}

.green {
  border-color: #4D774D;
}

.Difficult {
  background-color: black;
  color: white;
}

.Intermediate {
  background-color: #145DA0;
  color: white;
}

.Easy {
  background-color: #4D774D;
  color: white;
}

/* Bootstrap Padding Fix for Responsive Sites */
[class*="col-"] {
  padding: 1rem;
}

/* 
Fonts:
logo - font-family: 'Montserrat Subrayada', sans-serif;
otherwise - font-family: 'Montserrat', sans-serif; 
  0,500; - regular text
  0,700; - bold headers / sub headers
*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

