/* CSS - later overwrites earlier */

/* Media Queries */
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}
form {
  width: 50%;
  min-width: 400px;
  padding: 1.2em;
  border: 1px solid #EAC288;
  border-radius: 1em;
  font-size: 1.5em;
  
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  justify-content: center;
}

nav {
  background-color: #435861;
}

h3 {
  font-size: 2em;
  padding: 1em;
}

h4 {
  font-size: 1.25em;
}

.submit {
  background-color: #435861;
  color: white;
}

.add {
  background-color:  #4D774D;
  color: white;
  border: none;
}

#logo {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #4D774D;
  font-size: 2em;
}

.mtn {
  height: 1.5em;
  vertical-align: middle;
}

.spotLight {
  color: #435861;
  font-size: 1.5em;
  text-align: center;
}

.trail-content {
  padding: 2em;
}

/* Bootstrap Padding Fix for Responsive Sites */
[class*="col-"] {
  padding: 1rem;
}

/* 
Fonts:
logo - font-family: 'Montserrat Subrayada', sans-serif;
otherwise - font-family: 'Montserrat', sans-serif; 
  0,500; - regular text
  0,700; - bold headers / sub headers
*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

