</!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- React dependencies in a script tag? -->

    <!-- JS? -->
    {% block js %}
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            Note(s):
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<body>
    <header>
        {% if session.get('current_user') %}
            <a href="/logout">Logout</a> | <a href="/profile">View Profile</a>
        {% endif %}
    </header>
    <h1>
        {% if session.get('current_user') %}
            <a href="/profile">Hiking Habit</a>
        {% else %}
            <a href="/">Hiking Habit</a>
        {% endif %}
    </h1>

    {% block body %}
    {% endblock %}

    <hr>
    <footer>
        <a href="/about">About</a>
    </footer>
</body>
</html>