{% extends 'base.html' %} 

{% block body %}
    <title>Hiking Habit</title>
    <div id="app"></div>
{% endblock %}

{% block js %} 
    <script src="static/js/about.jsx" type="text/jsx"></script>
    <script src="static/js/goal.jsx" type="text/jsx"></script>
    <script src="static/js/hike.jsx" type="text/jsx"></script>
    <script src="static/js/trail.jsx" type="text/jsx"></script>

    <script src="static/js/goalForm.jsx" type="text/jsx"></script>
    <script src="static/js/hikeResultForm.jsx" type="text/jsx"></script>
    <script src="static/js/hikeForm.jsx" type="text/jsx"></script>
    <script src="static/js/trailsForm.jsx" type="text/jsx"></script>
    
    <script src="static/js/goals.jsx" type="text/jsx"></script>
    <script src="static/js/hikeResults.jsx" type="text/jsx"></script>
    <script src="static/js/currentHikes.jsx" type="text/jsx"></script>
    <script src="static/js/trailsResults.jsx" type="text/jsx"></script>
    
    <script src="static/js/hikesView.jsx" type="text/jsx"></script>
    <script src="static/js/trailsSearch.jsx" type="text/jsx"></script>
    <script src="static/js/loginForm.jsx" type="text/jsx"></script>
    <script src="static/js/registerForm.jsx" type="text/jsx"></script>
    
    <script src="static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}