{% extends 'base.html' %} 

{% block body %}
    <title>Hiking Habit</title>
    <div id="app"></div>
{% endblock %}

{% block js %} 
    <script src="static/js/goalForm.jsx" type="text/jsx"></script>
    <script src="static/js/hikeResultForm.jsx" type="text/jsx"></script>
    <script src="static/js/trailsResults.jsx" type="text/jsx"></script>
    <script src="static/js/trailsForm.jsx" type="text/jsx"></script>
    
    <script src="static/js/logout.jsx" type="text/jsx"></script>
    <script src="static/js/hikeResults.jsx" type="text/jsx"></script>
    <script src="static/js/goals.jsx" type="text/jsx"></script>
    <script src="static/js/hikes.jsx" type="text/jsx"></script>
    <script src="static/js/trails.jsx" type="text/jsx"></script>
    
    <script src="static/js/about.jsx" type="text/jsx"></script>
    <script src="static/js/loginForm.jsx" type="text/jsx"></script>
    <script src="static/js/registerForm.jsx" type="text/jsx"></script>
    
    <script src="static/js/signUpOrIn.jsx" type="text/jsx"></script>
    
    <script src="static/js/homepageNoUser.jsx" type="text/jsx"></script>
    <script src="static/js/homepageUser.jsx" type="text/jsx"></script>
    <script src="static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}