{% extends 'base.html' %}

{% block title %} Hiking Habit {% endblock %}

{% block body %}
  Add a Goal:
  <form action="/goals" method="POST">
    Goal Title:<input type="text" name="title" required>
    Category:
    <select name="goalType">
      <option value="NUMBER_HIKES">Hikes Made</option>
      <option value="MILES_HIKED">Total Miles Hiked</option>
      <option value="FEET_ASCENDED">Feet CLimbed</option>
      <option value="HIKEABLE_MILES">Miles in a hike</option>
      <option value="HIKE_DIFFICULTY">Hike Difficulty</option>
    </select>
    Amount:<input type="number" name="numericalValue">
    Description:<input type="text" name="description">
    <input type='submit' value='Add your goal'>
  </form>

  {% if goals: %}
    Edit a goal:
    <!-- list goals with links to go to an edit goal method which gives option to cancel or change the numerical value -->
  {% endif %}

  <a href="/new_goal">Add a Goal</a>
{% endblock %}


{% block js %}
{% endblock %}