{% extends 'base.html' %}

{% block title %} Hiking Habit {% endblock %}

{% block body %}
  <h2>Register as a new user</h2>

  <form action="/register" method="POST">

    Username:<input type="text" name="username">
    Email:<input type="text" name="email"><br>
    Password:<input type="text" name="password"><br>
    First Name:<input type="text" name="first">
    Last Name:<input type="text" name="last"><br>

    <input type='submit' value='Submit'>

  </form>

{% endblock %}


{% block js %}
{% endblock %}
